---
import Main from "@/components/main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title='Diego Artiles - Links Center'
  description='Find all links of Diego Artiles in a single place. Social media, portfolio, blog, resume, educative platforms, mail, and more.'
>
  <main>
    <Main />
  </main>
</Layout>
