---
import Main from "@/components/main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title='Diego Artiles - Links Center'
  description='Find all links of Diego Artiles in a single place. Social media, portfolio, resume, mail, and more.'
>
  <main class='flex min-h-screen flex-col'>
    <Main />
  </main>
</Layout>
