<div class='min-h-screen w-full relative'>
  <div
    class='absolute inset-0 z-0'
    style='background: radial-gradient(125% 125% at 50% 90%, #000000 40%, #0d1a36 100%);'
    aria-hidden='true'
  >
  </div>
  <div class='relative z-10 min-h-screen w-full'>
    <slot />
  </div>
</div>
